h1 {
  font-weight: bold;
  font-size: 58px;
  text-align: center;
  letter-spacing: 0.1px;
}

.about-heading {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px rgb(3,52,108, 20%);
}

#project-button {
  background: #FFBD00;
  border-style: none;
  border-radius: 100px;
  width: 317.15px;
  height: 55.68px;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  margin-left: 90px;
  margin-top: -30px;
}

#project-icon {
  height: 50px;
  width: 50px;
}

#award-heading {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.547);
}

